NEXT_PUBLIC_AUTH_PUBLISHABLE_KEY=app_your_publishable_key
NEXT_PUBLIC_AUTH_URL=http://localhost:8080
NEXT_PUBLIC_AUTH_REDIRECT_URI=http://localhost:3000/callback
NEXT_PUBLIC_API_URL=http://localhost:4000
